page-empreendimentos {

}
// Corpo de chcmados
.empreendimentoContent{
    background-color: white;
}
.cardsEmpreendimentos{
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    -webkit-box-shadow: 0 3px 5px #ffffff;
	-moz-box-shadow: 0 3px 5px #ffffff;
	box-shadow: 0 3px 5px #ffffff;
}
.gridEmpreendimentos{
    padding-right: 15px;
    padding-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
}