page-empreendimentos {

}
// Corpo de chamados
.empreendimentoContent{
    background-color: white;
}
// Card completo
.cardsEmpreendimentos{
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    width: 100%;
    height: 90%;
}
.gridEmpreendimentos{
    padding-right:3%;
    padding-top: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
}
// Esta ajustando o primeiro parágrafo.
.pCard1{
    padding-top: 8%;
    font-size: 12px;
    max-width: 12ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10%;
}
// Manipula todos os icones dos cards de Empreendimentos.
.pCard2{
    color: #757575;
    font-size: 1.5em;
    padding-left: 20%;
}
// Cores privadas dependendo do Status
#atendimento{
    color: #dfd002;
}
#aberto{
    color: #e20d18;
}
#encerrado{
    color: #08c208;
}
// Controla apenas a parte da imagem do card.
.imgCard{
    border-radius: 0px;
}
//usei para ajeitar a borda
.colunaEmpreendimentos{
    padding-left: 0%;
    padding-right: 3%;
    padding-bottom: 3%;
}