page-home {

    .main-container {
        text-align: center;
        width: 100vw; //centralizar
        height: 100vh; //centralizar
        display: flex; //centralizar
        flex-direction: row; //centralizar
        justify-content: center; //centralizar
        align-items: center; //centralizar
    }
    
    .build-logo {
        padding-bottom: 0%;
        max-width: 80px;
    }
    .titulo{
        text-align: center;
        font-size: 150%;
        padding-top: 3%;
        padding-bottom: 10%;
        margin: 0%;
    }

    .item-ios {
        color: gray;
        .text-input {
            color: black;
        }
    }

    .list-ios > .item-block:first-child { //remove linha no IOS
        border-top: none;
    }

    .btn_login{
        height: 50px;
    }
    
    .copyright {
        padding-top: 30px;         
        color: lightslategrey;
    }    
}
